h1{
    color:brown
}

.Header{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.Grid{
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Footer {
    display : flex;
    justify-content: flex-end;
    padding-top: 200;
    height: 100;
    
}
*{
    border: solid;
}
p, h2{
    text-align: center;
}

body {
    background-color: #808080;
}